$colors: (
    BrainFlix_Black: #323232, /*Primary black text color*/
    BrainFlix_Blue: #0095ff, /*Primary CTA color. Active from field outline color*/
    Silver: #AFAFAF,
    BandFlix__White: #FFFFFF,
    BrainFlix_DarkBlack: #000000,
    BrainFlix_DarkBlue: #0065AD,
    Brain_Flix_Mercury: #E1E1E1,
    Brain_Flix_Alabaster: #FAFAFA,

);