
@use '../../../styles/partials/siteColors' as *;
@use '../../../styles/mixins/font-face' as *;
// @include fontFace('avenir_next_lt_probold', 'src/assets/Font/FontsConverted/avenirnextltpro-bold-webfont.woff');

@use '../../../styles/mixins/breakpoints' as *;

@font-face {
    font-family: 'avenir_next_lt_probold';
    src: url('/src/assets/Font/FontsConverted/avenirnextltpro-bold-webfont.woff2') format('woff2'),
         url('/src/assets/Font/FontsConverted/avenirnextltpro-bold-webfont.woff') format('woff');
    font-weight:bold;
    font-style:normal;

}

@font-face {
    font-family: 'avenir_next_lt_prodemi';
    src: url('/src/assets/Font/FontsConverted/avenirnextltpro-demi-webfont.woff2') format('woff2'),
         url('/src/assets/Font/FontsConverted/avenirnextltpro-demi-webfont.woff') format('woff');
    font-weight:600;
    font-style: normal;

}



@font-face {
    font-family: 'avenir_next_lt_proregular';
    src: url('/src/assets/Font/FontsConverted/avenirnextltpro-regular-webfont.woff2') format('woff2'),
         url('/src/assets/Font/FontsConverted/avenirnextltpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family:  'avenir_next_lt_proregular', sans-serif;
    font-size: 16px;
}

body {
    margin: 0px;
    padding: 0;
    border: none;
}

.upload__section--title {
    @include xs {
        border-top: 1px solid #E1E1E1;
        padding: 1rem;
    }

    @include sm {
        border-top: 1px solid #E1E1E1;
        padding: 1rem;
    }

    @include md {
        border-top: 1px solid #E1E1E1;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include lg {
        border-top: 1px solid #E1E1E1;
        padding: 3rem;
    }

    @include xl {
        border-top: 1px solid #E1E1E1;
        padding: 3rem;
    }
}

.upload__section--title h1 {
    @include xs {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2rem;
    }
}



.upload__form--section {
    @include xs {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        
    }

    @include sm {
        padding: 1rem;
    }
    
    @include md {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include lg {
        padding: 3rem;
        display: flex;
        border-bottom: 1px solid #E1E1E1;
    }

    @include xl {
        padding: 3rem;
    }

}

.upload__video--section h1 {
    @include xs {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
    }
    
    @include sm {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
    }

    @include md {
        font-size: 2.063rem;
        line-height: 2.75rem;
        font-weight: 700;
    }

    @include lg {
        font-size: 2.063rem;
        line-height: 2.75rem;
        font-weight: 700;
    }

    @include xl {
        font-size: 2.063rem;
        line-height: 2.75rem;
        font-weight: 700;
    }
}

.upload__form--section h3{
    @include xs {
        color: silver;
    }

    @include sm {
        color: silver;
    }

    @include md {
        color: silver;
    }
}


.upload__thumbnail--container {
    

    @include xs {
        width: 95%;
        height: 95%;
        margin-right: 0;
        padding-left: 1rem;
        border-radius: 4px;
        
    }

    @include sm {
        width: 95%;
        height: 95%;
        margin-right: 0;
        padding-left: 1rem;
        border-radius: 4px;
    }

    @include md {
        border-radius: 4px;
        width: 25rem;
        height: 15rem;
    }

    @include lg {
        border-radius: 4px;
        width: 25rem;
        height: 16rem;
        padding-right: 3rem;
    }

    @include xl {
        border-radius: 4px;
        width: 25rem;
        height: 16rem;
        padding-right: 3rem;
        
    }
    
}

.upload__thumbnail {

    @include xs {
        width: 100%;
        margin: 0;
        border-radius: 4px;
    }

    @include sm {
        width: 100%;
        margin: 0;
        border-radius: 4px;
    }

    @include md {
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 4px;
    }

    @include lg {
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 4px;
    }

    @include xl {
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 4px;
    }
}


.upload__form--container {
    @include xs {
        padding: 1rem;
    }
    
    @include sm {
        padding:1rem;
    }

    @include md {
        padding-bottom: 1rem;
    }

    @include lg {
        width: 100%;
    }
}

.upload__form--container h3 {
    @include xs {
        color: silver;
    }
}

.upload__form {
    @include lg {
        width: 100%;
    }

    @include xl {
        width: 100%;
    }
}

.video__title {
    min-width: 240px;
    @include xs {
        border-radius: 4px;
        width: 100%;
    }

    @include sm {
        border-radius: 4px;
        width: 100%;
    }

    @include md {
        border-radius: 4px;
        width: 100%;
    }

    @include lg {
        border-radius: 4px;
        width: 100%;
    }

    @include xl {
        border-radius: 4px;
        width: 100%;
    }
}


.video__description {
    min-width: 240px;
    @include xs {
        border-radius: 4px ;
        width: 100%;
        margin-bottom: 1rem;
        
    }

    @include sm {
        border-radius: 4px ;
        width: 100%;
        margin-bottom: 1rem;
    }

    @include md {
        border-radius: 4px ;
        width: 100%;
        
    }

    @include lg {
        border-radius: 4px ;
        width: 100%;
        
    }

    @include xl {
        border-radius: 4px ;
        width: 100%;
        
    }
}



.video__thumbnail--container h3 {
    @include md {
        border-top: 1px solid #E1E1E1;
        padding-top: 1rem;
    }

    
}


.upload__icon--container {
    @include xs {
        padding-top: .5rem;
    }
}

.cancel__container {
    @include xs {
        text-align: center;
        color: map-get($colors , BrainFlix_Blue);
    }

    @include sm {
        text-align: center;
        color: map-get($colors , BrainFlix_Blue);
    }

    @include md {
        text-align: center;
        color: map-get($colors , BrainFlix_Blue);
        height: 40px;
        min-width: 150px;
        border-radius: 4px;
        border: none;
        font-weight: 700;
        order: 1;
    }

    @include lg {
        text-align: center;
        color: map-get($colors , BrainFlix_Blue);
        height: 40px;
        min-width: 150px;
        border-radius: 4px;
        border: none;
        font-weight: 700;
        order: 1;
    }
}


.form__section {
    @include md {
        border-bottom: 1px solid #E1E1E1;
        padding-bottom:1rem;
    }

    
}


.upload__button--container {
    @include md {
        display: flex;
        order: 3;
        float: right;
        justify-content: center;
        height: 40px;
        min-width: 150px;
        border-radius: 4px;
    }
    
}

.buttons_container {
    @include md {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 1rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
    }

    @include lg {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 1rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
    }

    @include xl{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 1rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
    }
}

.publish__button {
    background-color: map-get($colors, BrainFlix_Blue ); 
    height: 40px;
    min-width: 150px;
    border-radius: 4px;
    border: none;
    color: white;
    font-weight: 700;

    &:hover {
        background-color: map-get($colors , BrainFlix_DarkBlue );
        cursor: pointer;
    }

    @include xs {
        width: 100%;
        position: relative;
        z-index: 1;
    }

    @include sm {
        width: 100%;
    }

    @include md {
        width: 100%;
    }

    @include lg {
        width: 100%;
    }

    @include xl {
        width: 100%;
    }
}

.button__items--container {
    @include md {
        display: flex;
        order: 2;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 150px;
    }

    @include lg{
        display: flex;
        order: 2;
        justify-content: center;
        height: 40px;
        width: 150px;
    }

    @include xl {
        display: flex;
        order: 2;
        justify-content: center;
        height: 40px;
        width: 150px;
    }
}

.top__divider {
    @include md {
        width: 100%;
    }
    @include lg {
        width: 100%;
    }
}