
@use '../../../styles/partials/siteColors' as *;
@use '../../../styles/mixins/font-face' as *;
// @include fontFace('avenir_next_lt_probold', 'src/assets/Font/FontsConverted/avenirnextltpro-bold-webfont.woff');

@use '../../../styles/mixins/breakpoints' as *;

@font-face {
    font-family: 'avenir_next_lt_probold';
    src: url('/src/assets/Font/FontsConverted/avenirnextltpro-bold-webfont.woff2') format('woff2'),
         url('/src/assets/Font/FontsConverted/avenirnextltpro-bold-webfont.woff') format('woff');
    font-weight:bold;
    font-style:normal;

}

@font-face {
    font-family: 'avenir_next_lt_prodemi';
    src: url('/src/assets/Font/FontsConverted/avenirnextltpro-demi-webfont.woff2') format('woff2'),
         url('/src/assets/Font/FontsConverted/avenirnextltpro-demi-webfont.woff') format('woff');
    font-weight:600;
    font-style: normal;

}



@font-face {
    font-family: 'avenir_next_lt_proregular';
    src: url('/src/assets/Font/FontsConverted/avenirnextltpro-regular-webfont.woff2') format('woff2'),
         url('/src/assets/Font/FontsConverted/avenirnextltpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family:  'avenir_next_lt_proregular', sans-serif;
    font-size: 16px;
}

body {
    margin: 0px;
    padding: 0;
    border: none;
}


.upload__form--section {
    @include xs {
        border-top: 1px solid #E1E1E1;
    }


}

.upload__form--section h1 {
    @include xs {
        font-size: 1.5rem;
    }
}

.upload__form--section h3{
    @include xs {
        color: silver;
    }
}


.upload__thumbnail--container {
    

    @include xs {
        width: 95%;
        height: 95%;
        margin-right: 0;
        padding-left: 1rem;
        border-radius: 4px;
    }

    @include sm {
        
    }

    @include md {
        
        
    }

    @include lg {
        
        
    }

    @include xl {
        
        
    }
    
}

.upload__thumbnail {

    @include xs {
        width: 100%;
        margin: 0;
        border-radius: 4px;
    }
}


.upload__form--container {
    @include xs {
        padding: 1rem;
    }
}

.upload__form--container h3 {
    @include xs {
        color: silver;
    }
}

.video__title {
    min-width: 240px;
    @include xs {
        border-radius: 4px;
        width: 100%;
    }
}


.video__description {
    min-width: 240px;
    @include xs {
        border-radius: 4px ;
        width: 100%;
    }
}

.upload__icon--container {
    @include xs {
        padding-top: .5rem;
    }
}

.cancel__container {
    @include xs {
        text-align: center;
        color: map-get($colors , BrainFlix_Blue);
    }
}