
@use './styles/partials/siteColors' as *;
@use './styles/mixins/font-face' as *;
// @include fontFace('avenir_next_lt_probold', 'src/assets/Font/FontsConverted/avenirnextltpro-bold-webfont.woff');

@use './styles/mixins/breakpoints' as *;

@font-face {
    font-family: 'avenir_next_lt_probold';
    src: url('/src/assets/Font/FontsConverted/avenirnextltpro-bold-webfont.woff2') format('woff2'),
         url('/src/assets/Font/FontsConverted/avenirnextltpro-bold-webfont.woff') format('woff');
    font-weight:bold;
    font-style:normal;

}

@font-face {
    font-family: 'avenir_next_lt_prodemi';
    src: url('/src/assets/Font/FontsConverted/avenirnextltpro-demi-webfont.woff2') format('woff2'),
         url('/src/assets/Font/FontsConverted/avenirnextltpro-demi-webfont.woff') format('woff');
    font-weight:600;
    font-style: normal;

}



@font-face {
    font-family: 'avenir_next_lt_proregular';
    src: url('/src/assets/Font/FontsConverted/avenirnextltpro-regular-webfont.woff2') format('woff2'),
         url('/src/assets/Font/FontsConverted/avenirnextltpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family:  'avenir_next_lt_proregular', sans-serif;
    font-size: 16px;
}

body {
    margin: 0px;
    padding: 0;
    border: none;
}


.site__header {
    @include xs {
        padding: 1rem;
    }

    @include sm {
        padding: 1rem;
    }

    @include md {
        padding: 1rem;
    }

    @include lg {
        padding: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include xl {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.site__navigation{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @include xs {
        justify-content: center;
    }

    @include sm {
        justify-content: center;
    }

    @include md {
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include lg {
        display: flex;
        width: 100%;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    @include xl {
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    
}

.header__logo--container {
    max-height: 25px;
    //max-width: 120px;
    @include xs {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-bottom: 1rem;
    }

    @include sm {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-bottom: 1rem;
    }

    @include md {
        align-items: center;
        justify-content: center;
        display: flex;
        padding: 1rem;
    }

    @include lg {
        align-items: center;
        justify-content: center;
        align-content: center;
        display: flex;
        height: 100%;
        padding: 1rem;
    }

    @include xl {
        align-items: center;
        justify-content: center;
        align-content: center;
        display: flex;
        height: 100%;
        padding: 1rem;
    }
}

.header__logo {
    max-height: 25px;
    max-width: 120px;
    @include xs {
        order: 1;
    }
    @include sm {
        order: 1;
    }

    @include md {
        order: 1;
    }

    @include lg {
        order: 1;
    }

    @include xl {
        order: 1;
    }
}



// SEARCH SECTION//

.search {
    display: flex;
    flex-direction: row;
    
    @include xs {
        width: 75%;
        padding-bottom: 1rem;
        padding-right: 1rem;
    }

    @include sm {
        width: 75%;
        padding-bottom: 1rem;
        padding-right: 1rem;
    }

    @include md{
        float: right;
        margin-left: auto;
    }

    @include lg{
        float: right;
        margin-left: auto;
    }

    @include xl{
        float: right;
        margin-left: auto;
    }
}

.imput__wrapper {

    @include xs {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 36px;
        width:100%
    }

    @include sm {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 36px;
        width:100%
    }
    
    @include md {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        height: 36px;
        width:240px;
        // margin-left: 54px ;
        align-self: flex-end;
    }

    @include lg {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        height: 36px;
        width:240px;
        margin-left: auto;
    }

    @include xl {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        height: 36px;
        width:240px;
        margin-left: auto;
    }
}


.header__search {
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding-left: 1.5rem;
    width: 100%;
    height: 100%;

    @include xs  {
        order: 2;
    }
    @include sm  {
        order: 2;
    }

    @include md {
        order:2;
        float: right;
    }

    @include lg {
        order:2;
        float: right;
    }

    @include xl {
        order:2;
        float: right;
    }
}


.header__search:focus, textarea:focus{
    border: 2px solid map-get($colors , BrainFlix_Blue);
}


.header__userimage {
    border-radius: 50%;
    @include xs {
        order: 3;
        width: 2.25rem;
        height: 2.25rem;
        
    }
    @include sm {
        order: 3;
        width: 2.25rem;
        height: 2.25rem;
    }
    
    @include md {
        order: 4;
        width: 40px;
        height:40px;
        float:right;
        // align-self: flex-end;
        padding: 1rem;
        //margin-left: auto;
    }

    @include lg {
        order: 4;
        width: 40px;
        height:40px;
        float:right;
        justify-self: flex-end;
        //margin-left: auto;
        padding: 1rem;
    }

    @include xl {
        order: 4;
        width: 40px;
        height:40px;
        float:right;
        justify-self: flex-end;
        //margin-left: auto;
        padding: 1rem;
    }

}

.header__button--container {
    @include xs {
        order: 4;
        width: 100%;
    }

    @include sm {
        width: 100%;
        order: 4;
    }


    @include md {
        display: flex;
        order: 3;
        float: right;
        justify-content: center;
        height: 40px;
        min-width: 150px;
        border-radius: 4px;
        padding:1rem;
    }

    @include lg {
        display: flex;
        order: 3;
        float: right;
        justify-content: center;
        height: 40px;
        min-width: 150px;
        border-radius: 4px;
        padding:1rem;
        //margin-left: auto;
    }

    @include xl {
        display: flex;
        order: 3;
        float: right;
        justify-content: center;
        height: 40px;
        min-width: 150px;
        border-radius: 4px;
        padding:1rem;
    }
} 

.header__button {
    background-color: map-get($colors, BrainFlix_Blue ); 
    height: 40px;
    min-width: 150px;
    border-radius: 4px;
    border: none;
    color: white;
    font-weight: 700;

    &:hover {
        background-color: map-get($colors , BrainFlix_DarkBlue );
        cursor: pointer;
    }

    @include xs {
        width: 100%;
        position: relative;
        z-index: 1;
    }

    @include sm {
        width: 100%;
    }

    @include md {
        width: 100%;
    }
}


.upload__icon--container {

    @include xs {
        z-index: 2;
        position: absolute;
        
    }
}
// .header__search {
//     min-width: 240px;
//     border-radius: 4px;
//     border: 1px solid map-get($colors , Brain_Flix_Mercury );
    
//     &:active {
//         border: 2px solid map-get($colors , BrainFlix_Blue);

//     }

//     @include xs {
//         min-height: 36px;
//         margin: 0.75rem;
        
//     }

//     @include sm {
//         min-height: 36px;
//         margin: 0.75rem;
//     }
// }

.search__icon {
    @include xs {
        position: absolute;
    }

    @include sm {
        position: absolute;

    }

    @include md {
        position: absolute;
    }

    @include lg {
        position: absolute;
    }

    @include xl {
        position: absolute;
    }
}






// Main video section

.main__video {
    @include xs {
        width: 100%;
    }

    @include sm {
        width: 100%;
    }

    @include md {
        width: 100%;
    }

    @include lg {
        width: 100%;
    }

    @include xl {
        // width: 100%;
    }
}

.video__details {
    @include xs {
        padding: 1rem;
    }

    @include sm {
        padding: 1rem;
    }

    @include md {
        padding-bottom: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include lg {
        padding-bottom: 3rem;
        padding-left: 3rem;
    }

    @include xl {
        padding-bottom: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.video__details {
    @include lg {
        padding-right: 1rem;
    }
}


.video__container {
    @include xs {
        width: 100%;
    }

    @include sm {
        width: 100%;
    }

    @include lg {
        width: 100%;
        height: 770px;
        // position: absolute;
        // padding-bottom: 56.25%;
    }

    @include xl {
        width: 100%;
        height: 770px;
    }
}

.video__poster {
    @include xs {
        position: relative;
        top: 0;
        left: 0;
        width:100%;
    }

    @include sm {
        position: relative;
        top: 0;
        left: 0;
        width:100%;
        background-color: black;
    }
    
    @include md {
        position: relative;
        top: 0;
        left: 0;
        width:100%;
        background-color: black;
    }

    @include lg {
        position: relative;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        background-color: black;
    }
    
    @include xl {
        position: relative;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        background-color: black;
    }
}

.video__info {
    display: flex;
    @include xs {
        border-top: 1px solid map-get($colors , Brain_Flix_Mercury );
        border-bottom: 1px solid map-get($colors , Brain_Flix_Mercury );
        stroke-width: 1px;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 1rem;
    }

    @include sm {
        stroke-width: 1px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:flex-start;
        padding: 1rem;
    }

    @include md {
        border-bottom: 1px solid map-get($colors , Brain_Flix_Mercury );
        stroke-width: 1px;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 1rem;
    }

    @include lg {
        border-bottom: 1px solid map-get($colors , Brain_Flix_Mercury );
        stroke-width: 1px;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 1rem;
    }

    @include xl {
        border-bottom: 1px solid map-get($colors , Brain_Flix_Mercury );
        stroke-width: 1px;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

}

.channel__details p {
    @include lg {
        font-size:0.875rem; //14px
        color: silver;
    }

    @include xl{
        font-size:0.875rem; //14px
    }
}


.video__details h1 {
    @include md {
        font-size: 33px;
        line-height: 44px;
        font-weight: 700;
    }

    @include lg {
        font-size: 33px;
        line-height: 44px;
        font-weight: 700;
    }

    @include xl {
        font-size: 33px;
        line-height: 44px;
        font-weight: 700;
    }
}

.video__details p {
    @include md{
        font-size:0.875rem; //14px

    }
   

    @include lg{
        font-size:0.875rem; //14px
    }

    @include xl{
        font-size:0.875rem; //14px
    }
}

.channel__details {
    @include xs {
        display: flex;
    }

    @include sm {
        display: flex;
    }

    @include md {
        display: flex;
        flex-direction: row;
    }

    @include lg {
        display: flex;
        flex-direction: row;
    }

    @include xl {
        display: flex;
        flex-direction: row;
    }
}

.channel__details h4 {
    @include xs {
        margin: 0;
    }

    @include sm {
        margin: 0;
    }

    @include md {
        margin: 0;
        
    }

    @include lg {
        margin: 0;
        
    }

    @include xl {
        margin: 0;
        
    }
}

.channel__info {
    @include xs {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        order: 1;
        width: 100%;
    }

    @include sm {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        order: 1;
        width: 100%;
    }

    @include md {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        order: 1;
        width: 100%;
    }

    @include lg {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        order: 1;
        width: 100%;
    }

    @include xl {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        order: 1;
        width: 100%;
    }
}

.channel__info p {
    @include xs {
        margin: 0;
        padding-bottom: 1rem;
        height: max-content;
    }

    @include sm {
        margin: 0;
        padding-bottom: 1rem;
        height: max-content;
    }

    @include md {
        margin: 0;
        color: silver;
        font-size:0.875rem;
        line-height: 1.375rem;
        font-weight: 400;
    }

    
    @include md {
        margin: 0;
        color: silver;
        font-size:0.875rem;
        line-height: 1.375rem;
        font-weight: 400;
    }
}

.channel__info h4 {

    @include xs {
        padding-bottom: 1rem;
    }

    @include sm {
        padding-bottom: 1rem;
    }
}

.video__stats {
    @include xs {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        order: 2;
        margin-left: 3rem;
    }

    @include sm {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        order: 2;
        margin-left: 3rem;
    }

    @include md {
        display: flex;
        //flex-wrap: wrap;
        flex-direction: row;
        order: 2;
        float: right;
        width: 15rem;
        color: silver;
        font-size:0.875rem;
        line-height: 1.375rem;
        font-weight: 400;
        
    }

    @include lg {
        display: flex;
        //flex-wrap: wrap;
        flex-direction: row;
        order: 2;
        float: right;
        width: 15rem;
        justify-content: flex-end;
        justify-self: flex-end;
        
    }

    @include xl {
        display: flex;
        //flex-wrap: wrap;
        flex-direction: row;
        order: 2;
        float: right;
        width: 10rem;
    }
}


.video__stat--container {
    @include xs {
       display: inline-block;
       width: 100%;
       padding-bottom: 1rem;
    }
    
    @include sm {
        display: inline-block;
        width: 100%;
        padding-bottom: 1rem;
    }

    @include md {
        display: flex;
        width: 10rem;
        flex-direction: row;
    }

    @include lg {
        display: flex;
        flex-direction: row;
    }
}

.views__icon, .likes__icon {
    @include xs {
        display: inline-block;
        padding-right: 1rem;
    }

    @include sm {
        display: inline-block;
        padding-right: 1rem;
    }

    @include md {
        display: inline-block;
        padding-right: 1rem;
    }

    @include lg {
        display: inline-block;
        padding-right: 1rem;
    }
}

.video__stat--container p {
    margin: 0;
    @include xs {
        display: inline-block;
        margin: 0;
    }

    @include sm {
        display: inline-block;
        margin: 0;
    }
}


//comment section


.comments__section {
    @include xs {
        padding-bottom: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
        height: auto;
    }

    @include sm {
        padding-bottom: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
        height: auto;
    }

    @include md {
        padding-bottom: 3rem;
        padding-right: 3rem;
        padding-left: 3rem;
        height: auto;
    }

    @include lg {
        padding-bottom: 3rem;
        padding-left: 3rem;
        height: auto;
    }

    @include xl {
        padding-bottom: 3rem;
        padding-right: 3rem;
        padding-left: 3rem;
        height: auto;
    }
}

.comment__avatar {
    @include xs {
        border-radius: 50%;
        height: 2.25rem;
        width: 2.25rem;
        margin-right: 1rem;
        margin-top: 1rem;
    }

    @include sm {
        border-radius: 50%;
        height: 2.25rem;
        width: 2.25rem;
        margin-right: 1rem;
        margin-top: 1rem;
    }

    @include md {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-right: 1rem;
        margin-top: 1rem;
    }
    
    
    @include lg {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-right: 1rem;
        margin-top: 1rem;
    }

    @include xl {
        border-radius: 50%;
        height: 100%;
        width: 100%;
        margin-right: 1rem;
        margin-top: 1rem;
    }
}

.comment__avatar--container {
    @include md {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        padding: 1rem;
    }

    @include lg {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        position: relative;
        justify-content: center;
        padding: 1rem;
    }

    @include xl {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        position: relative;
        justify-content: center;
        padding: 1rem;
    }
}

.comment__avatar--blank{
    @include xs {
        border-radius: 50%;
        height: 2.25rem;
        width: 2.25rem;
        background-color: map-get($colors , Brain_Flix_Mercury );
        margin-right: 1rem;
        margin-top: 1rem;
        order: 1;
        
    }

    @include sm {
        border-radius: 50%;
        height: 2.25rem;
        width: 2.25rem;
        background-color: map-get($colors , Brain_Flix_Mercury );
        margin-right: 1rem;
        order: 1;
    }

    @include md {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        background-color: map-get($colors , Brain_Flix_Mercury );
        margin-right: .5rem;
        order: 1;
        margin-top: 1rem;
    }

    @include lg{
        border-radius: 50%;
        height: 40px;
        width: 40px;
        background-color: map-get($colors , Brain_Flix_Mercury );
        margin-right: .5rem;
        order: 1;
        margin-top: 1rem;
    }

    @include xl {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        background-color: map-get($colors , Brain_Flix_Mercury );
        margin-right: .5rem;
        order: 1;
        margin-top: 1rem;
    }

    
}

.add__comment {
    @include xs {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        border-bottom: 1px solid map-get($colors , Brain_Flix_Mercury );
        float: right;
    }

    @include sm {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        border-bottom: 1px solid map-get($colors , Brain_Flix_Mercury );
    }

    @include md {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        border-bottom: 1px solid map-get($colors , Brain_Flix_Mercury );
        padding-bottom: 1rem;
    }

    @include lg {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        border-bottom: 1px solid map-get($colors , Brain_Flix_Mercury );
        padding-bottom: 1rem;
    }

    @include xl {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        border-bottom: 1px solid map-get($colors , Brain_Flix_Mercury );
        padding-bottom: 1rem;
    }
}

.form__container {
    @include xs {
        width: 80%;
        float: right;
    }

    @include sm {
        width: 80%;
        float: right;
    }

    @include md {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
    }

    @include lg {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 85%;
        padding: 1rem;
    }

    @include xl {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 85%;
        padding: 1rem;
    }

}

.form__container h3 {
    margin: 0;
    margin-bottom: 4px;
    color: silver;
    @include xs {
        color: silver;
    }

    @include sm {
        color: silver;
    }
}


.comment__textbox {
        box-sizing: border-box;
        background-color:  map-get($colors , bg__alt--col);
        border: 1px solid map-get($colors , Brain_Flix_Mercury );
        border-radius: 4px;


        &:active, &:focus {
            border: 2px solid map-get($colors , BrainFlix_Blue );
            outline: none; // add this
            background-color: #ffffff;
          }

        //   &:invalid {
        //     border: 1px solid red;
        //   }

        @include xs {
            height: 108px;
            padding: 12px;
            width: 100%;
        }

        @include sm {
            height: 108px;
            padding: 12px;
            width: 100%;
        }

        @include md {
            height: 40px;
            padding: 12px;
            min-width: 240px;
            min-height: 40px;
        }

        @include lg {
            height: 40px;
            //padding: 12px;
            min-width: 240px;
            min-height: 40px;
            margin-right: 1rem;
            width: 80%;
        }

        @include xl {
            height: 40px;
            //padding: 12px;
            min-width: 240px;
            min-height: 40px;
            margin-right: 1rem;
            width: 80%;
        }
}

.comment__button {
    background-color: map-get($colors, BrainFlix_Blue ); 

    &:hover {
        background-color: map-get($colors , BrainFlix_DarkBlue );
        cursor: pointer;
    }
    
    @include xs {
        height: 40px;
        border-radius: 4px;
        border: none;
        color: white;
        font-weight: 700;
        width: 100%;
        margin-bottom: 1rem;
    }

    @include sm {
        height: 40px;
        border-radius: 4px;
        border: none;
        color: white;
        font-weight: 700;
        width: 100%;
        margin-bottom: 1rem;
    }

    @include md {
        background-color: map-get($colors, BrainFlix_Blue ); 
        height: 40px;
        width: 150px;
        border-radius: 4px;
        border: none;
        color: white;
        float: right;
    }

    @include lg {
        background-color: map-get($colors, BrainFlix_Blue ); 
        height: 40px;
        width: 150px;
        border-radius: 4px;
        border: none;
        color: white;
        float: right;
    }

    @include xl {
        background-color: map-get($colors, BrainFlix_Blue ); 
        height: 40px;
        width: 150px;
        border-radius: 4px;
        border: none;
        color: white;
        float: right;
    }
}

.comment {
    display: flex;
    @include xs {
        height: auto;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-bottom: 1rem;
        border-bottom: 1px solid map-get($colors , Brain_Flix_Mercury );
    }

    @include sm {
        height: auto;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-bottom: 1rem;
        border-bottom: 1px solid map-get($colors , Brain_Flix_Mercury );
    }

    @include md {
        height: auto;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-bottom: 1rem;
        border-bottom: 1px solid map-get($colors , Brain_Flix_Mercury );
    }


    @include lg {
        height: auto;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-bottom: 1rem;
        margin-right: 1rem;
        border-bottom: 1px solid map-get($colors , Brain_Flix_Mercury );
    }

    @include xl {
        height: auto;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-bottom: 1rem;
        margin-right: 1rem;
        border-bottom: 1px solid map-get($colors , Brain_Flix_Mercury );
    }
}

.comment__details {
    @include xs {
        display: flex;
    }

    @include sm {
        display: flex;
    }

    @include md {
        display: flex;
    }

    @include lg{
        display: flex;
    }

    @include xl {
        display: flex;
    }
}

.user__name {
    @include xs {
        margin: 0;
        order: 2;
        margin-top: 1rem;
    }

    @include sm {
        margin: 0;
        margin-top: 1rem;
        order: 2;
    }

    @include md {
        margin: 0;
        order: 2;
        margin-top: 1rem;
    }

    @include lg {
        margin: 0;
        order: 2;
        margin-top: 1rem;
    }

    @include xl {
        margin: 0;
        order: 2;
        margin-top: 1rem;
    }
}


.time__stamp {
    color: silver;
    @include xs {
        flex: 2 1 auto;
        justify-self: right;
        text-align: right;
        float: right;
        // width: 2rem;
        // height: 2rem;
        order: 3;
    }

    @include sm {
        flex: 2 1 auto;
        justify-self: right;
        text-align: right;
        float: right;
        // width: 2rem;
        // height: 2rem;
        order: 3;
    }

    @include md {
        flex: 2 1 auto;
        justify-self: right;
        text-align: right;
        float: right;
        // width: 2rem;
        // height: 2rem;
        order: 3;
    }

    @include lg {
        flex: 2 1 auto;
        justify-self: right;
        text-align: right;
        float: right;
        // width: 2rem;
        // height: 2rem;
        order: 3;
    }

    @include xl {
        flex: 2 1 auto;
        justify-self: right;
        text-align: right;
        float: right;
        // width: 2rem;
        // height: 2rem;
        order: 3;
    }
}

.comment__text {
    @include xs {
        order: 4;
        padding-left: 3rem;
        margin: 0;
    }

    @include sm {
        order: 4;
        padding-left: 3rem;
        margin: 0;
    }

    @include md {
        order: 4;
        padding-left: 3rem;
        margin: 0;
    }

    @include lg {
        order: 4;
        padding-left: 3rem;
        margin: 0;
    }

    @include xl {
        order: 4;
        padding-left: 3rem;
        margin: 0;
    }
}


//side video


.next__video {
    @include xs {
        color: silver;
        margin: 0;
        margin-bottom: 1rem;
    }

    @include sm {
        color: silver;
        margin: 0;
        margin-bottom: 1rem;
    }

    @include md {
        color: silver;
        margin: 0;
        margin-bottom: 1rem;
    }

    @include lg {
        color: silver;
        margin: 0;
        margin-bottom: 1rem;
    }

    @include xl {
        color: silver;
        margin: 0;
        margin-bottom: 1rem;
    }
}

.side__video--list {
    @include xs {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }

    @include sm {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        
    }

    @include md {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
}

.side__video {
    
    @include xs {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width:100%;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    
    @include sm {
        display: flex;
        flex-wrap: wrap;
        width:100%;
        padding-top: .5rem;
        padding-bottom: .5rem;
        }

        @include md {
            display: flex;
            flex-wrap: wrap;
            width:100%;
            padding-top: .5rem;
            padding-bottom: .5rem;
        }

        @include lg {
            display: flex;
            flex-wrap: wrap;
            width:100%;
            padding-top: .5rem;
            padding-bottom: .5rem;
        }

        @include xl {
            display: flex;
            flex-wrap: wrap;
            width:100%;
            padding-top: .5rem;
            padding-bottom: .5rem;
        }

}


.side__video--container {
    &:hover {
        cursor: pointer;
    }
    @include xs {
        padding-left: 1rem;
        padding-top: .25rem;
        padding-right: 1rem;
        width: 100%;
    }

    @include sm {
        padding-left: 1rem;
        padding-top: .25rem;
        padding-right: 1rem;
    }
        
}

.video__container {
    @include xs {
    }

    @include sm {
        padding-left: 1rem;
        padding-top: .25rem;
        padding-right: 1rem;
    }
}

.video-item {
    border-radius: 4px;
    width: 8rem;
    height: 5rem;
    margin: 0;
    background-size:contain;
}

.side__video--container img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    background-size: contain;
}

.side__video--info {
    width: 12rem;
    height: 5rem;

    @include xs {
        padding-left: 1rem;
        padding-top: .25rem;
    }

    @include sm {
        padding-left: 1rem;
        padding-top: .25rem;
    }

    @include md {
        padding-left: 1rem;
        
    }

    @include lg {
        padding-left: 1rem;
        
    }

    @include xl {
        padding-left: 1rem;
        
    }
    
}

.side__video--info h4 {
    @include xs {
        margin: 0;
    }

    @include sm {
        margin: 0;
    }

    @include md {
        margin: 0;
    }

    @include lg {
        margin: 0;
    }

    @include xl {
        margin: 0;
    }

}

.Main {
    @include lg {
    }
}

.video__content--container {

    @include lg {
        width: 60%;
        margin: 0;
        padding-left: 3rem;
        border-right: 1px solid map-get($colors , Brain_Flix_Mercury);
    }

    @include xl {
        width: 60%;
        margin: 0;
        padding-left: 3rem;
        border-right: 1px solid map-get($colors , Brain_Flix_Mercury);
    }
}

.side__video--section {

    @include lg {
        width:30%;
        position: absolute;
        top:100%;
        float: right;
        left: 65%;
    }

    @include xl {
        width:30%;
        position: absolute;
        top:100%;
        float: right;
        left: 65%;
    }
}