@font-face {
  font-family: "avenir_next_lt_probold";
  src: url("/src/assets/Font/FontsConverted/avenirnextltpro-bold-webfont.woff2") format("woff2"), url("/src/assets/Font/FontsConverted/avenirnextltpro-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "avenir_next_lt_prodemi";
  src: url("/src/assets/Font/FontsConverted/avenirnextltpro-demi-webfont.woff2") format("woff2"), url("/src/assets/Font/FontsConverted/avenirnextltpro-demi-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "avenir_next_lt_proregular";
  src: url("/src/assets/Font/FontsConverted/avenirnextltpro-regular-webfont.woff2") format("woff2"), url("/src/assets/Font/FontsConverted/avenirnextltpro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "avenir_next_lt_proregular", sans-serif;
  font-size: 16px;
}

body {
  margin: 0px;
  padding: 0;
  border: none;
}

@media (min-width: 0) {
  .site__header {
    padding: 1rem;
  }
}
@media (min-width: 767px) {
  .site__header {
    padding: 1rem;
  }
}

.site__navigation {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 0) {
  .site__navigation {
    justify-content: center;
  }
}
@media (min-width: 767px) {
  .site__navigation {
    justify-content: center;
  }
}

@media (min-width: 0) {
  .header__logo--container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 767px) {
  .header__logo--container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

.header__logo {
  height: 25px;
  max-width: 120px;
}
@media (min-width: 0) {
  .header__logo {
    order: 1;
  }
}
@media (min-width: 767px) {
  .header__logo {
    order: 1;
  }
}

@media (min-width: 0) {
  .header__search {
    order: 2;
  }
}
@media (min-width: 767px) {
  .header__search {
    order: 2;
  }
}

.header__userimage {
  border-radius: 50%;
}
@media (min-width: 0) {
  .header__userimage {
    order: 3;
    width: 2.25rem;
    height: 2.25rem;
  }
}
@media (min-width: 767px) {
  .header__userimage {
    order: 3;
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
  }
}

@media (min-width: 0) {
  .header__button--container {
    order: 4;
    width: 100%;
  }
}
@media (min-width: 767px) {
  .header__button--container {
    width: 100%;
    order: 4;
  }
}

.header__button {
  background-color: #0095ff;
  height: 40px;
  min-width: 150px;
  border-radius: 4px;
  border: none;
  color: white;
  font-weight: 700;
}
@media (min-width: 0) {
  .header__button {
    width: 100%;
  }
}
@media (min-width: 767px) {
  .header__button {
    width: 100%;
  }
}

.header__search {
  min-width: 240px;
  border-radius: 4px;
  border: 1px solid #E1E1E1;
}
.header__search:active {
  border: 2px solid #0095ff;
}
@media (min-width: 0) {
  .header__search {
    min-height: 36px;
    margin: 0.75rem;
  }
}
@media (min-width: 767px) {
  .header__search {
    min-height: 36px;
  }
}

@media (min-width: 0) {
  .search__icon {
    place-items: center;
  }
}
@media (min-width: 0) {
  .main__video {
    width: 100%;
  }
}
@media (min-width: 767px) {
  .main__video {
    width: 100%;
  }
}

@media (min-width: 0) {
  .video__details {
    padding: 1rem;
  }
}
@media (min-width: 767px) {
  .video__details {
    padding: 1rem;
  }
}

@media (min-width: 0) {
  .video__container {
    width: 100%;
  }
}
@media (min-width: 767px) {
  .video__container {
    width: 100%;
  }
}

@media (min-width: 0) {
  .video__poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
}
@media (min-width: 767px) {
  .video__poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.video__info {
  display: flex;
}
@media (min-width: 0) {
  .video__info {
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;
  }
}
@media (min-width: 767px) {
  .video__info {
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem;
  }
}

@media (min-width: 0) {
  .channel__details {
    display: flex;
  }
}
@media (min-width: 767px) {
  .channel__details {
    display: flex;
  }
}

@media (min-width: 0) {
  .channel__details h4 {
    margin: 0;
  }
}
@media (min-width: 767px) {
  .channel__details h4 {
    margin: 0;
  }
}

@media (min-width: 0) {
  .channel__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    order: 1;
    width: 100%;
  }
}
@media (min-width: 767px) {
  .channel__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    order: 1;
    width: 100%;
  }
}

@media (min-width: 0) {
  .channel__info p {
    margin: 0;
    padding-bottom: 1rem;
    height: -moz-max-content;
    height: max-content;
  }
}
@media (min-width: 767px) {
  .channel__info p {
    margin: 0;
  }
}

@media (min-width: 0) {
  .channel__info h4 {
    padding-bottom: 1rem;
  }
}
@media (min-width: 767px) {
  .channel__info h4 {
    padding-bottom: 1rem;
  }
}

@media (min-width: 0) {
  .video__stats {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    order: 2;
    margin-left: 3rem;
  }
}
@media (min-width: 767px) {
  .video__stats {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    order: 2;
  }
}

@media (min-width: 0) {
  .video__stat--container {
    display: inline-block;
    width: 100%;
    padding-bottom: 1rem;
  }
}
@media (min-width: 767px) {
  .video__stat--container {
    width: -moz-max-content;
    width: max-content;
    width: 100%;
  }
}

@media (min-width: 0) {
  .views__icon, .likes__icon {
    display: inline-block;
    padding-right: 1rem;
  }
}
@media (min-width: 767px) {
  .views__icon, .likes__icon {
    display: inline-block;
    padding-right: 1rem;
  }
}

.video__stat--container p {
  margin: 0;
}
@media (min-width: 0) {
  .video__stat--container p {
    display: inline-block;
    margin: 0;
  }
}
@media (min-width: 767px) {
  .video__stat--container p {
    display: inline-block;
    margin: 0;
  }
}/*# sourceMappingURL=App.css.map */