@font-face {
  font-family: "avenir_next_lt_probold";
  src: url("/src/assets/Font/FontsConverted/avenirnextltpro-bold-webfont.woff2") format("woff2"), url("/src/assets/Font/FontsConverted/avenirnextltpro-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "avenir_next_lt_prodemi";
  src: url("/src/assets/Font/FontsConverted/avenirnextltpro-demi-webfont.woff2") format("woff2"), url("/src/assets/Font/FontsConverted/avenirnextltpro-demi-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "avenir_next_lt_proregular";
  src: url("/src/assets/Font/FontsConverted/avenirnextltpro-regular-webfont.woff2") format("woff2"), url("/src/assets/Font/FontsConverted/avenirnextltpro-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "avenir_next_lt_proregular", sans-serif;
  font-size: 16px;
}

body {
  margin: 0px;
  padding: 0;
  border: none;
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .site__header {
    padding: 1rem;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .site__header {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .site__header {
    padding: 1rem;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .site__header {
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (min-width: 1480px) {
  .site__header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.site__navigation {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .site__navigation {
    justify-content: center;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .site__navigation {
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .site__navigation {
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .site__navigation {
    display: flex;
    width: 100%;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1480px) {
  .site__navigation {
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.header__logo--container {
  max-height: 25px;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .header__logo--container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .header__logo--container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__logo--container {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 1rem;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .header__logo--container {
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    height: 100%;
    padding: 1rem;
  }
}
@media (min-width: 1480px) {
  .header__logo--container {
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    height: 100%;
    padding: 1rem;
  }
}

.header__logo {
  max-height: 25px;
  max-width: 120px;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .header__logo {
    order: 1;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .header__logo {
    order: 1;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__logo {
    order: 1;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .header__logo {
    order: 1;
  }
}
@media (min-width: 1480px) {
  .header__logo {
    order: 1;
  }
}

.search {
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .search {
    width: 75%;
    padding-bottom: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .search {
    width: 75%;
    padding-bottom: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .search {
    float: right;
    margin-left: auto;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .search {
    float: right;
    margin-left: auto;
  }
}
@media (min-width: 1480px) {
  .search {
    float: right;
    margin-left: auto;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .imput__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 36px;
    width: 100%;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .imput__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 36px;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .imput__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    height: 36px;
    width: 240px;
    align-self: flex-end;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .imput__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    height: 36px;
    width: 240px;
    margin-left: auto;
  }
}
@media (min-width: 1480px) {
  .imput__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    height: 36px;
    width: 240px;
    margin-left: auto;
  }
}

.header__search {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding-left: 1.5rem;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .header__search {
    order: 2;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .header__search {
    order: 2;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__search {
    order: 2;
    float: right;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .header__search {
    order: 2;
    float: right;
  }
}
@media (min-width: 1480px) {
  .header__search {
    order: 2;
    float: right;
  }
}

.header__search:focus, textarea:focus {
  border: 2px solid #0095ff;
}

.header__userimage {
  border-radius: 50%;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .header__userimage {
    order: 3;
    width: 2.25rem;
    height: 2.25rem;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .header__userimage {
    order: 3;
    width: 2.25rem;
    height: 2.25rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__userimage {
    order: 4;
    width: 40px;
    height: 40px;
    float: right;
    padding: 1rem;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .header__userimage {
    order: 4;
    width: 40px;
    height: 40px;
    float: right;
    justify-self: flex-end;
    padding: 1rem;
  }
}
@media (min-width: 1480px) {
  .header__userimage {
    order: 4;
    width: 40px;
    height: 40px;
    float: right;
    justify-self: flex-end;
    padding: 1rem;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .header__button--container {
    order: 4;
    width: 100%;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .header__button--container {
    width: 100%;
    order: 4;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__button--container {
    display: flex;
    order: 3;
    float: right;
    justify-content: center;
    height: 40px;
    min-width: 150px;
    border-radius: 4px;
    padding: 1rem;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .header__button--container {
    display: flex;
    order: 3;
    float: right;
    justify-content: center;
    height: 40px;
    min-width: 150px;
    border-radius: 4px;
    padding: 1rem;
  }
}
@media (min-width: 1480px) {
  .header__button--container {
    display: flex;
    order: 3;
    float: right;
    justify-content: center;
    height: 40px;
    min-width: 150px;
    border-radius: 4px;
    padding: 1rem;
  }
}

.header__button {
  background-color: #0095ff;
  height: 40px;
  min-width: 150px;
  border-radius: 4px;
  border: none;
  color: white;
  font-weight: 700;
}
.header__button:hover {
  background-color: #0065AD;
  cursor: pointer;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .header__button {
    width: 100%;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .header__button {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__button {
    width: 100%;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .search__icon {
    position: absolute;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .search__icon {
    position: absolute;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .search__icon {
    position: absolute;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .search__icon {
    position: absolute;
  }
}
@media (min-width: 1480px) {
  .search__icon {
    position: absolute;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .main__video {
    width: 100%;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .main__video {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__video {
    width: 100%;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .main__video {
    width: 100%;
  }
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .video__details {
    padding: 1rem;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .video__details {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .video__details {
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .video__details {
    padding-bottom: 3rem;
    padding-left: 3rem;
  }
}
@media (min-width: 1480px) {
  .video__details {
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1279px) and (max-width: 1480px) {
  .video__details {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .video__container {
    width: 100%;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .video__container {
    width: 100%;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .video__container {
    width: 100%;
    height: 770px;
  }
}
@media (min-width: 1480px) {
  .video__container {
    width: 100%;
    height: 770px;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .video__poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .video__poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .video__poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .video__poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
  }
}
@media (min-width: 1480px) {
  .video__poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
  }
}

.video__info {
  display: flex;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .video__info {
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    stroke-width: 1px;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .video__info {
    stroke-width: 1px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .video__info {
    border-bottom: 1px solid #E1E1E1;
    stroke-width: 1px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 1rem;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .video__info {
    border-bottom: 1px solid #E1E1E1;
    stroke-width: 1px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 1rem;
  }
}
@media (min-width: 1480px) {
  .video__info {
    border-bottom: 1px solid #E1E1E1;
    stroke-width: 1px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media (min-width: 1279px) and (max-width: 1480px) {
  .channel__details p {
    font-size: 0.875rem;
    color: silver;
  }
}
@media (min-width: 1480px) {
  .channel__details p {
    font-size: 0.875rem;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .video__details h1 {
    font-size: 33px;
    line-height: 44px;
    font-weight: 700;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .video__details h1 {
    font-size: 33px;
    line-height: 44px;
    font-weight: 700;
  }
}
@media (min-width: 1480px) {
  .video__details h1 {
    font-size: 33px;
    line-height: 44px;
    font-weight: 700;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .video__details p {
    font-size: 0.875rem;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .video__details p {
    font-size: 0.875rem;
  }
}
@media (min-width: 1480px) {
  .video__details p {
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .channel__details {
    display: flex;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .channel__details {
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .channel__details {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .channel__details {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1480px) {
  .channel__details {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .channel__details h4 {
    margin: 0;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .channel__details h4 {
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .channel__details h4 {
    margin: 0;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .channel__details h4 {
    margin: 0;
  }
}
@media (min-width: 1480px) {
  .channel__details h4 {
    margin: 0;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .channel__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    order: 1;
    width: 100%;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .channel__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    order: 1;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .channel__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    order: 1;
    width: 100%;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .channel__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    order: 1;
    width: 100%;
  }
}
@media (min-width: 1480px) {
  .channel__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    order: 1;
    width: 100%;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .channel__info p {
    margin: 0;
    padding-bottom: 1rem;
    height: -moz-max-content;
    height: max-content;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .channel__info p {
    margin: 0;
    padding-bottom: 1rem;
    height: -moz-max-content;
    height: max-content;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .channel__info p {
    margin: 0;
    color: silver;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .channel__info p {
    margin: 0;
    color: silver;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .channel__info h4 {
    padding-bottom: 1rem;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .channel__info h4 {
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .video__stats {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    order: 2;
    margin-left: 3rem;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .video__stats {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    order: 2;
    margin-left: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .video__stats {
    display: flex;
    flex-direction: row;
    order: 2;
    float: right;
    width: 15rem;
    color: silver;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .video__stats {
    display: flex;
    flex-direction: row;
    order: 2;
    float: right;
    width: 15rem;
    justify-content: flex-end;
    justify-self: flex-end;
  }
}
@media (min-width: 1480px) {
  .video__stats {
    display: flex;
    flex-direction: row;
    order: 2;
    float: right;
    width: 10rem;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .video__stat--container {
    display: inline-block;
    width: 100%;
    padding-bottom: 1rem;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .video__stat--container {
    display: inline-block;
    width: 100%;
    padding-bottom: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .video__stat--container {
    display: flex;
    width: 10rem;
    flex-direction: row;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .video__stat--container {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .views__icon, .likes__icon {
    display: inline-block;
    padding-right: 1rem;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .views__icon, .likes__icon {
    display: inline-block;
    padding-right: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .views__icon, .likes__icon {
    display: inline-block;
    padding-right: 1rem;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .views__icon, .likes__icon {
    display: inline-block;
    padding-right: 1rem;
  }
}

.video__stat--container p {
  margin: 0;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .video__stat--container p {
    display: inline-block;
    margin: 0;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .video__stat--container p {
    display: inline-block;
    margin: 0;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .comments__section {
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    height: auto;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .comments__section {
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comments__section {
    padding-bottom: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
    height: auto;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .comments__section {
    padding-bottom: 3rem;
    padding-left: 3rem;
    height: auto;
  }
}
@media (min-width: 1480px) {
  .comments__section {
    padding-bottom: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
    height: auto;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .comment__avatar {
    border-radius: 50%;
    height: 2.25rem;
    width: 2.25rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .comment__avatar {
    border-radius: 50%;
    height: 2.25rem;
    width: 2.25rem;
    margin-right: 1rem;
    margin-top: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment__avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 1rem;
    margin-top: 1rem;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .comment__avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 1rem;
    margin-top: 1rem;
  }
}
@media (min-width: 1480px) {
  .comment__avatar {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    margin-right: 1rem;
    margin-top: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .comment__avatar--container {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 1rem;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .comment__avatar--container {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: relative;
    justify-content: center;
    padding: 1rem;
  }
}
@media (min-width: 1480px) {
  .comment__avatar--container {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: relative;
    justify-content: center;
    padding: 1rem;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .comment__avatar--blank {
    border-radius: 50%;
    height: 2.25rem;
    width: 2.25rem;
    background-color: #E1E1E1;
    margin-right: 1rem;
    margin-top: 1rem;
    order: 1;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .comment__avatar--blank {
    border-radius: 50%;
    height: 2.25rem;
    width: 2.25rem;
    background-color: #E1E1E1;
    margin-right: 1rem;
    order: 1;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment__avatar--blank {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #E1E1E1;
    margin-right: 0.5rem;
    order: 1;
    margin-top: 1rem;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .comment__avatar--blank {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #E1E1E1;
    margin-right: 0.5rem;
    order: 1;
    margin-top: 1rem;
  }
}
@media (min-width: 1480px) {
  .comment__avatar--blank {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #E1E1E1;
    margin-right: 0.5rem;
    order: 1;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .add__comment {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 1px solid #E1E1E1;
    float: right;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .add__comment {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #E1E1E1;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .add__comment {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 1rem;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .add__comment {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 1rem;
  }
}
@media (min-width: 1480px) {
  .add__comment {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .form__container {
    width: 80%;
    float: right;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .form__container {
    width: 80%;
    float: right;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .form__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .form__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
    padding: 1rem;
  }
}
@media (min-width: 1480px) {
  .form__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
    padding: 1rem;
  }
}

.form__container h3 {
  margin: 0;
  margin-bottom: 4px;
  color: silver;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .form__container h3 {
    color: silver;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .form__container h3 {
    color: silver;
  }
}

.comment__textbox {
  box-sizing: border-box;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}
.comment__textbox:active, .comment__textbox:focus {
  border: 2px solid #0095ff;
  outline: none;
  background-color: #ffffff;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .comment__textbox {
    height: 108px;
    padding: 12px;
    width: 100%;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .comment__textbox {
    height: 108px;
    padding: 12px;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment__textbox {
    height: 40px;
    padding: 12px;
    min-width: 240px;
    min-height: 40px;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .comment__textbox {
    height: 40px;
    min-width: 240px;
    min-height: 40px;
    margin-right: 1rem;
    width: 80%;
  }
}
@media (min-width: 1480px) {
  .comment__textbox {
    height: 40px;
    min-width: 240px;
    min-height: 40px;
    margin-right: 1rem;
    width: 80%;
  }
}

.comment__button {
  background-color: #0095ff;
}
.comment__button:hover {
  background-color: #0065AD;
  cursor: pointer;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .comment__button {
    height: 40px;
    border-radius: 4px;
    border: none;
    color: white;
    font-weight: 700;
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .comment__button {
    height: 40px;
    border-radius: 4px;
    border: none;
    color: white;
    font-weight: 700;
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment__button {
    background-color: #0095ff;
    height: 40px;
    width: 150px;
    border-radius: 4px;
    border: none;
    color: white;
    float: right;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .comment__button {
    background-color: #0095ff;
    height: 40px;
    width: 150px;
    border-radius: 4px;
    border: none;
    color: white;
    float: right;
  }
}
@media (min-width: 1480px) {
  .comment__button {
    background-color: #0095ff;
    height: 40px;
    width: 150px;
    border-radius: 4px;
    border: none;
    color: white;
    float: right;
  }
}

.comment {
  display: flex;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .comment {
    height: auto;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 1rem;
    border-bottom: 1px solid #E1E1E1;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .comment {
    height: auto;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 1rem;
    border-bottom: 1px solid #E1E1E1;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment {
    height: auto;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 1rem;
    border-bottom: 1px solid #E1E1E1;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .comment {
    height: auto;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 1rem;
    margin-right: 1rem;
    border-bottom: 1px solid #E1E1E1;
  }
}
@media (min-width: 1480px) {
  .comment {
    height: auto;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 1rem;
    margin-right: 1rem;
    border-bottom: 1px solid #E1E1E1;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .comment__details {
    display: flex;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .comment__details {
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment__details {
    display: flex;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .comment__details {
    display: flex;
  }
}
@media (min-width: 1480px) {
  .comment__details {
    display: flex;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .user__name {
    margin: 0;
    order: 2;
    margin-top: 1rem;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .user__name {
    margin: 0;
    margin-top: 1rem;
    order: 2;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .user__name {
    margin: 0;
    order: 2;
    margin-top: 1rem;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .user__name {
    margin: 0;
    order: 2;
    margin-top: 1rem;
  }
}
@media (min-width: 1480px) {
  .user__name {
    margin: 0;
    order: 2;
    margin-top: 1rem;
  }
}

.time__stamp {
  color: silver;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .time__stamp {
    flex: 2 1 auto;
    justify-self: right;
    text-align: right;
    float: right;
    order: 3;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .time__stamp {
    flex: 2 1 auto;
    justify-self: right;
    text-align: right;
    float: right;
    order: 3;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .time__stamp {
    flex: 2 1 auto;
    justify-self: right;
    text-align: right;
    float: right;
    order: 3;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .time__stamp {
    flex: 2 1 auto;
    justify-self: right;
    text-align: right;
    float: right;
    order: 3;
  }
}
@media (min-width: 1480px) {
  .time__stamp {
    flex: 2 1 auto;
    justify-self: right;
    text-align: right;
    float: right;
    order: 3;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .comment__text {
    order: 4;
    padding-left: 3rem;
    margin: 0;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .comment__text {
    order: 4;
    padding-left: 3rem;
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .comment__text {
    order: 4;
    padding-left: 3rem;
    margin: 0;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .comment__text {
    order: 4;
    padding-left: 3rem;
    margin: 0;
  }
}
@media (min-width: 1480px) {
  .comment__text {
    order: 4;
    padding-left: 3rem;
    margin: 0;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .next__video {
    color: silver;
    margin: 0;
    margin-bottom: 1rem;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .next__video {
    color: silver;
    margin: 0;
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .next__video {
    color: silver;
    margin: 0;
    margin-bottom: 1rem;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .next__video {
    color: silver;
    margin: 0;
    margin-bottom: 1rem;
  }
}
@media (min-width: 1480px) {
  .next__video {
    color: silver;
    margin: 0;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .side__video--list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .side__video--list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .side__video--list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .side__video {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .side__video {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .side__video {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .side__video {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 1480px) {
  .side__video {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.side__video--container {
  border-radius: 4px;
  width: 8rem;
  height: 5rem;
  margin: 0;
  background-size: contain;
}
.side__video--container:hover {
  cursor: pointer;
}

.side__video--container img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  background-size: contain;
}

.side__video--info {
  width: 12rem;
  height: 5rem;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  .side__video--info {
    padding-left: 1rem;
    padding-top: 0.25rem;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .side__video--info {
    padding-left: 1rem;
    padding-top: 0.25rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .side__video--info {
    padding-left: 1rem;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .side__video--info {
    padding-left: 1rem;
  }
}
@media (min-width: 1480px) {
  .side__video--info {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .side__video--info h4 {
    margin: 0;
  }
}
@media (min-width: 767px) and (max-width: 768px) {
  .side__video--info h4 {
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .side__video--info h4 {
    margin: 0;
  }
}
@media (min-width: 1279px) and (max-width: 1480px) {
  .side__video--info h4 {
    margin: 0;
  }
}
@media (min-width: 1480px) {
  .side__video--info h4 {
    margin: 0;
  }
}

@media (min-width: 1279px) and (max-width: 1480px) {
  .video__content--container {
    width: 60%;
    margin: 0;
    padding-left: 3rem;
    border-right: 1px solid #E1E1E1;
  }
}
@media (min-width: 1480px) {
  .video__content--container {
    width: 60%;
    margin: 0;
    padding-left: 3rem;
    border-right: 1px solid #E1E1E1;
  }
}

@media (min-width: 1279px) and (max-width: 1480px) {
  .side__video--section {
    width: 30%;
    position: absolute;
    top: 100%;
    float: right;
    left: 65%;
  }
}
@media (min-width: 1480px) {
  .side__video--section {
    width: 30%;
    position: absolute;
    top: 100%;
    float: right;
    left: 65%;
  }
}/*# sourceMappingURL=App.css.map */