@use '../../styles/partials/siteColors' as *;
@use '../../styles/mixins/font-face' as *;
// @include fontFace('avenir_next_lt_probold', 'src/assets/Font/FontsConverted/avenirnextltpro-bold-webfont.woff');

@use '../../styles/mixins/breakpoints' as *;

@font-face {
    font-family: 'avenir_next_lt_probold';
    src: url('/src/assets/Font/FontsConverted/avenirnextltpro-bold-webfont.woff2') format('woff2'),
         url('/src/assets/Font/FontsConverted/avenirnextltpro-bold-webfont.woff') format('woff');
    font-weight:bold;
    font-style:normal;

}

@font-face {
    font-family: 'avenir_next_lt_prodemi';
    src: url('/src/assets/Font/FontsConverted/avenirnextltpro-demi-webfont.woff2') format('woff2'),
         url('/src/assets/Font/FontsConverted/avenirnextltpro-demi-webfont.woff') format('woff');
    font-weight:600;
    font-style: normal;

}



@font-face {
    font-family: 'avenir_next_lt_proregular';
    src: url('/src/assets/Font/FontsConverted/avenirnextltpro-regular-webfont.woff2') format('woff2'),
         url('/src/assets/Font/FontsConverted/avenirnextltpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.main__video {
    @include xs {
        width: 100%;
    }

    @include sm {
        width: 100%;
    }

    @include md {
        width: 100%;
    }

    @include lg {
        width: 100%;
    }

    @include xl {
        // width: 100%;
    }
}

.video__details {
    @include xs {
        padding: 1rem;
    }

    @include sm {
        padding: 1rem;
    }

    @include md {
        padding-bottom: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include lg {
        padding-bottom: 3rem;
        padding-left: 3rem;
    }

    @include xl {
        padding-bottom: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}


.video__container {
    @include xs {
        width: 100%;
    }

    @include sm {
        width: 100%;
    }

    @include lg {
        width: 100%;
        height: 770px;
        // position: absolute;
        // padding-bottom: 56.25%;
    }

    @include xl {
        width: 100%;
        height: 770px;
    }
}

.video__poster {
    @include xs {
        position: relative;
        top: 0;
        left: 0;
        width:100%;
    }

    @include sm {
        position: relative;
        top: 0;
        left: 0;
        width:100%;
        background-color: black;
    }
    
    @include md {
        position: relative;
        top: 0;
        left: 0;
        width:100%;
        background-color: black;
    }

    @include lg {
        position: relative;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        background-color: black;
    }
    
    @include xl {
        position: relative;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        background-color: black;
    }
}